body{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;

}

#navbar{
  background-image: url('/images/background.png');
  background-size: cover;
  background-position-y: center; 
  height: 60vh;
  background-repeat: no-repeat;
  transition: height 0.35s ease;

}
#navbar.scrolled{
  height: 30vh;
}
#title{
  font-size: 35px;
  transition:  0.35s ease;
}
#title.scrolled{
  font-size: 25px;
}

.bg-brown{
  background-color:rgb(27, 23, 23)!important;
}

.border-end-radius{
  border-top-right-radius:1vh ;border-bottom-right-radius:1vh;border-bottom-left-radius: 0;border-top-left-radius: 0;
}

.border-start-radius{
   border-top-right-radius:0 ;border-bottom-right-radius:0;border-bottom-left-radius: 1vh;border-top-left-radius:1vh;
}
